<%- include('./styles'); %>

<nav>

  <div class="ui vertical right fixed menu" style="margin-top: 6em">
    <div class="item">
      <div class="header">About</div>
      <!-- <div class="menu">
        <a class="item">LinkedIn</a>
        <a class="item">Github</a>
        <a class="item">Contact Form</a>
      </div> -->
    </div>
    <div class="item">
      <div class="header">Work</div>
      <div class="menu">
        <a class="item">Rose City Resource</a>
        <a class="item">NYC Service Search</a>
        <a class="item">Anti-Eviction Map</a>
      </div>
    </div>
    <div class="item">
      <div class="header">Skills</div>
      <div class="menu">
        <a class="item">UX/UI Design</a>
        <a class="item">Front End/React</a>
        <a class="item">Full Stack Development</a>
      </div>
    </div>

    <div class="item">
      <div class="header">Resume</div>
      <div class="menu">
        <a class="item">UX/UI Resume</a>
        <a class="item">Front End/React Resume</a>
      </div>
    </div>
    <div class="item">
      <div class="header">Contact</div>
        <div class="menu">
          <a class="item">LinkedIn</a>
          <a class="item">Github</a>
          <a class="item">Contact Form</a>
        </div>
    </div>
  </div>
</nav>

