<style>
  .about-div {
    display: flex; 
    align-items: center;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-right: 250px;
  }

  .about-text {
    margin-left: 2em;
  }

</style>

<section class="about-div">
  <div class="about-image">
    <img src="https://i.imgur.com/ojAeOsa.png" 
      alt="Portrait of a white woman with brown hair and glasses in a red plaid collared shirt" 
      class="ui image left aligned circular small" />
    </div>

    <div class="about-text body-text">
      <p>
        I'm a UX/UI Developer based in Portland, Oregon.
      </p>
      <p>
        My favorite tools include: JavaScript, React, Figma, and good ol' fashioned HTML, and CSS.
      </p>
      <p>
        If it's technology that can create user experiences, I'm there.
      </p>
    </div>
  </div>
</section>



<!-- I'm experienced in: 
- Front End Web Devopment, specifically: 
  - JavaScript/React
  - React component libraries, including Semantic UI, Material UI, and Antd Design
  - HTML/CSS/SASS
  - If it's code that creates something for the user to see, I want to be there.  -->

  <!-- tools  -->
  <!-- semantic dummy image: https://semantic-ui.com/images/wireframe/square-image.png -->
  <!-- TEMP image  -->
  <!-- <img class="ui middle aligned circular image small"     
  src="" /> -->