<style>
  .work-div {
    /* display: flex;  */
    /* align-items: center; */
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-right: 250px;
  }

  .about-text {
    margin-left: 2em;
  }

  .capstone-gif {
    border: 1.5px lightgrey solid; 
    border-radius: 7px;
  }

  /* .demo-image {
    border: 1.5px solid lightgrey; 
    border-radius: 7px
  } */

  /* for gif!!!  */
  .object-and-details {
    display: inline-block;
    position: relative;
    border: 1.5px solid lightgrey; 
    border-radius: 7px;
  }

summary {
  color: #fff;
  background: #000;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  z-index: 2;
  border-radius: 50%;
  background-image: url("https://assets.codepen.io/128034/play_circle_filled-24px.svg");
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  opacity: 0.35;
}

[open] summary {
  background-image: url("https://assets.codepen.io/128034/pause_circle_filled-24px.svg");
  box-shadow: 0 0 0 2px #fff;
  background-color: white;
}

/* for blink/webkit */
details summary::-webkit-details-marker {
  display: none;
}
/* for firefox */
details > summary:first-of-type {
  list-style: none;
}

summary + * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* padding: 1rem;
  padding-top: 3rem;
  background: #000; */
  color: #fff;
  overflow-y: auto;
}

summary + * a {
  color: #fff;
}
summary:focus {
  box-shadow: 0 0 0 0.25rem #aade87;
  outline: transparent;
}

.object-and-details1 img {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: visible;
}

.text {
  max-width: 550px;
}

</style>

<div class="object-and-details">
  <img src="https://i.imgur.com/BUf4Iyx.png" class="ui image demo-image"
  style="max-width: 550px" loading="lazy">
  <details>
 
    <summary role="button" aria-label="static image"></summary>
    <div class="object-and-details1">
      <img src="https://i.imgur.com/pkhYUwc.gif" class="ui image demo-image" style="max-width: 550px" loading="lazy">
    </div>
  </details>
</div>
<p class="text">
  The app allows users to search by up to three different categories, and a New York neighborhood, and then see resources that meet those requirements. 
</p>
<p>
  <a href="https://wrunion.github.io/epicodus-capstone/" target="_blank" rel="noreferrer">View the demo</a> | <a href="https://github.com/wrunion/epicodus-capstone" target="_blank" rel="noreferrer">View the code</a>
</p>