<style>
  .icon-padding-sm {
    margin-left: 4em;
    margin-right: 4em;
  }
</style>


<header style="display: flex; justify-content: space-between; align-items: center">  

  <h1 class="ui header violet center" style="margin-bottom: 0; text-align: left">
    <div class="content" style="color: #2A00A2">
      Winter A. Runion | UX/UI Developer
    </div>
  </h1>

  <div class="header-icons" style="position: absolute; right: 5%">
    <a class="item" href="https://github.com/wrunion" target="_blank" rel="noreferrer">
      <i class="ui icon github big grey link" style="margin-right: .5em"></i>
    </a>
    <a class="item" href="https://www.linkedin.com/in/wrunion/" target="_blank" rel="noreferrer">
      <i class="ui icon linkedin big grey link" style="margin-right: .5em"></i>
    </a>
    <i class="ui icon bars big" onclick="toggle()"></i>
  </div>
  
  <p></p>
</header>

<script>   

  function toggle() { $('.ui.sidebar').sidebar('toggle') }

</script>