<header style="display: flex; justify-content: space-between; align-items: center">

  <h1 class="ui header violet center" style="margin-bottom: 0; text-align: left">
    <div class="content">
      Winter A. Runion | UX/UI Developer
    </div>
    <div class="sub header" style="margin-left: .25em">
      <em>I like JavaScript and puns</em>
    </div>
  </h1>

  <div class="header-icons" style="position: absolute; right: 13%">
    <i class="ui icon linkedin big grey"></i>   
    <i class="ui icon github square big grey"></i>
  </div>
  
  <p></p>
</header>