<%- include('./../partials/head'); %>
<%- include('./../partials/styles'); %>

<style>
  .strong {
    font-weight: bold
  }
</style>

<div class="work-div" style="max-width: 550px">
  <h2>Skills</h2>

  <p class="strong">
    I'm a UX/UI designer with a background in visual art and strong skills in Front End web development. My skills include:
  </p>

Front End Web Development
<ul>
  <li>
    JavaScript/React
  </li>
  <li>
    React component libraries, including Semantic UI, Material UI, and Antd Design
  </li>
  <li>
    HTML/CSS/SASS
  </li>
  <li>
    If it's code that creates something for the user to see, I want to be there. 
  </li>
</ul>

UX/UI Design and Development
<ul>
  <li>
    Creating wireframes and high fidelity prototypes using tools like Figma and Adobe XD
  </li>
  <li>
    Coordinating and conducting user research 
  </li>
  <li>
    Using research insights to create user journeys and user flows
  </li>
  <li>
    Bringing designs to life with React and CSS
  </li>
</ul>

I have: 
<ul>
  <li>
    A Bachelor's of Art in Visual Art
  </li>
  <li>
    5 years of experience working in visual design and digital photography for my own design business
  </li>
  <li>
    A JavaScript/React Front End Web Development Certification from Epicodus, and in-person Portland code school
  </li>
  <li>
    A creative drive that never lets up
  </li>
</ul>

I can: 
<ul>
  <li>
    Communicate clearly and effectively with teammates and clients
  </li>
  <li>
    Work well on my own
  </li>
  <li>
    Work well in diverse, interdisciplinary teams
  </li>
  <li>
    Step up to provide leadership and conflict resolution when needed
  </li>
</ul>

I'm passionate about: 
<ul>
  <li>
    Web accessibility, first and foremost. Everyone should be able to access and enjoy everything I create
  </li>
  <li>
    Equal access to healthcare and housing
  </li>
  <li>
    Design justice, including language agnostic design
  </li>
</ul>

<p>
  In my free time I visit parks, read too much, and tango dance.
</p>

<p class="strong">
  You can find me on <a href="https://github.com/wrunion" target="_blank" rel="noreferrer">GitHub</a> and <a href="https://www.linkedin.com/in/wrunion/" target="_blank" rel="noreferrer">LinkedIn</a>.
</p>
</div>
