<%- include('./partials/head'); %>
<%- include('./partials/styles'); %>

<style>
  .content-home {
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
  }
</style>

<main class="content-home">
  <!-- site title  -->
  <h1 class="ui header violet center" style="margin-bottom: 0; text-align: left">
    <div class="content">
      Winter A. Runion | UX/UI Developer
    </div>
    <div class="sub header" style="margin-left: .25em">
      <em>I like JavaScript and puns</em>
    </div>
  </h1>
  <p></p>

  <div class="ui divider"></div>





  <div class="main" style="display: flex; height: 75vh; align-items: center">

    <%- include('./partials/navVertical'); %>








</div>

</main>


<!-- each of these sections will be conditionally displayed, based on what variable is passed in by Node -->

<!-- home content  -->
<div class="home" id="home">

</div>

<div class="page">


    <div class="ui form-container">
      <div class="container-content">
      <div class="banner-info">

      </div>
      <p></p>
      </div>
    </div>
  

</div>