<div id="intro">

  <div class="contact" style="margin-left: 1.5em; margin-right: 1.5em; display: flex; align-items: center; justify-content: space-between">
    <div>
      <img class="ui middle aligned image small" src="https://semantic-ui.com/images/wireframe/square-image.png" />
    </div>
    <div>
      <h2 class="ui header violet" style="margin-bottom: 0">
        <div class="content">
          Winter A. Runion
        </div>
        <div class="sub header">
          <em>I like JavaScript and puns</em>
        </div>
      </h2>
    </div>


  </div>


</div>