
<section class="projects">
<h2>Work</h2>
<h3>
  Epicodus Capstone: 
</h3>

Demo: https://wrunion.github.io/epicodus-capstone/
Code: https://github.com/wrunion/epicodus-capstone
Gif (on desktop)


</section>

