<%- include('./../partials/head'); %>
<%- include('./../partials/styles'); %>

<style>

  /* styles to put in styles  */
  .mb-normal {
    margin-bottom: 1.5em;
  }

  .mt-normal {
    margin-top: 1.5em;
  }

  .mt-large {
    margin-top: 3em;
  }

  .work-div {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-right: 250px;
    margin-left: 2.5em;
  }

  .work-text {
    max-width: 550px;
    text-align: justify; 
  }

  .about-text {
    margin-left: 2em;
  }

  .work-gif {
    border: 1.5px lightgrey solid; 
    border-radius: 7px;
    margin-top: .5em;
    margin-bottom: 1em;
    display: inline-block;
    position: relative;
    border: 1.5px solid lightgrey; 
    border-radius: 7px;
  }

  .video-container {
    margin-top: .5em;
    margin-bottom: 1em;
    border-radius: 7px;
  }

  /* for gif "pause" functionality */

summary {
  color: #fff;
  background: #000;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  z-index: 2;
  border-radius: 50%;
  background-image: url("https://assets.codepen.io/128034/play_circle_filled-24px.svg");
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  opacity: 0.35;
}

[open] summary {
  background-image: url("https://assets.codepen.io/128034/pause_circle_filled-24px.svg");
  box-shadow: 0 0 0 2px #fff;
  background-color: white;
}

/* for blink/webkit */
details summary::-webkit-details-marker {
  display: none;
}
/* for firefox */
details > summary:first-of-type {
  list-style: none;
}

summary + * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  overflow-y: auto;
}

summary + * a {
  color: #fff;
}
summary:focus {
  box-shadow: 0 0 0 0.25rem #aade87;
  outline: transparent;
}

.object-and-details1 img {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: visible;
}

</style>

<div class="work-div">
  <h2>Work</h2>

  <!-- Evictorbook  -->
  <section class="project-div work-text" id="evictorbook">
    <h3>
      <a>
        Anti Eviction Mapping Tool (Evictorbook)
      </a>
    </h3>
    <p>
      The Anti Eviction Mapping Tool (also known as “Evictorbook”) is an ongoing project with a team of 15+ people from all disciplines. 
    </p>

    <p>
      On the Anti Eviction Mapping Tool I:
    </p>

    UX/UI Design and Development:
    <ul>
      <li>
        Trained under a UX developer with 7 years of industry experience
      </li>
      <li>
        Learned to organize, conduct, and analyze user interviews
      </li>
      <li>
        Took part in all stages of the UX Design process, from idea, to wireframes, to writing the code myself and actualizing the designs on the live site.
      </li>
    </ul>


Front End Development: 
<ul>
  <li>
    I also worked on the front end, using React the component libraries Antd Design and Material UI to create an accessible, mobile-friendly web application.
  </li>
  <li>
    I conducted a thorough accessibility audit of the application, then implemented the changes step by step, working with a team of 3.
  </li>
  <li>
    I also consulted on API design, and took part in collaborative design session with the data leads.
  </li>
</ul>

    <div style="max-width: 550px">
      <video controls width="100%" class="video-container">
        <source src="https://i.imgur.com/Rx0xupY.mp4" type="video/mp4">
  
        Sorry, your browser doesn't support embedded videos.
      </video>
    </div>
    <p class="mb-normal">
      This mapping tool is not yet available for public viewing, but these images highlight the "eviction search" feature of the site.
    </p>
    <div class="ui divider"></div>
  </section>
  <!-- end eb -->

  <!-- Epicodus  -->
  <section class="project-div work-text mt-normal" id="epicodus">
    <h3>
      <a href="https://wrunion.github.io/epicodus-capstone/" target="_blank" rel="noreferrer">
        NYC Social Service Search
      </a>
    </h3>
    <p>
      In 2020 I completed the JavaScript/React Front End Development Program at one of Portland's best known, in-person bootcamps: Epicodus. 
    </p>
    <p>
      For my Capstone Project, I created <a href="https://wrunion.github.io/epicodus-capstone/" target="_blank" rel="noreferrer">NYC Women's Social Service Resource Finder</a>.
    </p>
    <!-- 
      <p>
      For my capstone project, I chose an area that's long been a passion of mine: helping connect people with resources they need. 
      
      I found an open-data API from New York City with information about 1000+ social service for women in NYC.</p>
      <p>I used that API to make the data searchable 
      
      
      
      
      These services provide everything from sports opportunities to health care, but most people don't know how to search an online database, which is hard to find in the first place. 
    </p> -->

  
    <!-- NYC gif  -->
    <div class="object-and-details work-gif">
      <img src="https://i.imgur.com/BUf4Iyx.png" class="ui image demo-image"
      style="max-width: 550px" loading="lazy">
      <details>
     
        <summary role="button" aria-label="static image"></summary>
        <div class="object-and-details1">
          <img src="https://i.imgur.com/pkhYUwc.gif" class="ui image demo-image" style="max-width: 550px" loading="lazy">
        </div>
      </details>
    </div>
    <p class="work-text ">
      The app allows users to search by up to three different categories, and a New York neighborhood, and then see resources that meet those requirements. 
    </p>
    <p>
      <a href="https://wrunion.github.io/epicodus-capstone/" target="_blank" rel="noreferrer">View the demo</a> | <a href="https://github.com/wrunion/epicodus-capstone" target="_blank" rel="noreferrer">View the code</a>
    </p>
  </section>
  <!-- end epicodus  -->

  <div class="ui divider"></div>

  <!-- MAC/RCR  -->
  <section class="work-text" id="rose-city-resource">
  <h3>
    <a href="https://rosecityresource.streetroots.org" target="_blank" rel="noreferrer">
      Rose City Resource Guide
    </a>
  </h3>
  <p>
    The Rose City Resource Guide is a collaboration between the Portland non-profit Street Roots, and the Mapping Action Collective (MAC). It's a searchable map of free and low-cost resources for houseless adults in Oregon.
  </p>
  <p>  
    I work at the Mapping Action Collective, and help maintain the site. I'm also creating technical documentation for Street Roots staff, and redesigning the entire UI, which has been exciting!   
  </p>
  <div style="max-width: 450px; margin-left: 5%">
    <video controls width="100%" class="video-container">
      <source src="https://i.imgur.com/YbXJ32L.mp4" type="video/mp4">

      Sorry, your browser doesn't support embedded videos. 
    </video>
  </div>
  <!-- RCR LINK  -->
  <p class="strong">
    View the <a href="https://rosecityresource.streetroots.org/" target="_blank" rel="noreferrer">Rose City Resource Guide</a> live site 
  </p>

  <!-- <p>
    I said to myself, “I need to meet the people who wrote this code.” So I emailed them, and then I did. 
  </p>
    
  <p>
    That’s the story of how I met the two founders of the Mapping Action Collective a year ago, and I’ve been working with them ever since.
  </p> -->

    <p>
      At MAC I am currently:
    </p>

    <ul>
      <li>
        Creating an interactive user guide to help the Street Roots staff update their data more easily 
      </li>
      <li>
        Redesigning the user interface, which means creating wireframes with Figma, then bringing them to life in code. 
      </li>
      <li>
        I'm co-lead on a spin-off project: Healthy Transitions.
      </li>
      <li>
        Healthy Transitions is a collaboration with Portland State University, to create a mapping application with mental health resources for youth in Oregon.
      </li>
      <li>
        I'm the lead UX/UI developer on a team of 4.
      </li>
      <li>
        Since it's a small team, I wear more hats than that, including Product Owner, but the role I most enjoy and excel at is UX/UI development. 
      </li>
    </ul>

  At MAC, I use use these technologies: 
  <ul>
    <li>
      Figma
    </li>
    <li>
      Adobe XD
    </li>
    <li>
      HTML/CSS/JavaScript
    </li>
    <li>
      React
    </li>
    <li>
      EJS
    </li>
    <li>
      Node.js, Express 
    </li>
  </ul>

</section>
<div class="ui divider"></div>

</div>
<script>
  // accessibility code for users who have the "reduced motion" setting enabled on their browsers
  const mediaQuery = window.matchMedia("(prefers-reduced-motion: reduce))");
  const details = document.querySelector(".object-and-details > details");

  if (mediaQuery.matches) {
    details.removeAttribute("open");
  }
</script>


<!-- images:

<img src="https://i.imgur.com/pkhYUwc.gif" class="ui image capstone-gif"
style="max-width: 550px" />
<img src="https://i.imgur.com/A088719.png" class="ui image capstone-gif"
style="max-width: 550px" /> -->

<!-- semantic ui icons:
pause circle
play circle -->